{% extends 'layout.html' %}
{% block content %}
<h1>About TinyWiki <a href="{{root}}__help">looking for help?</a></h1>
<p>
TinyWiki is a NodeJS powered Wiki which is designed to be quite small, but with
quite a few features.
</p>
<h4>Features</h4>
<ul>
<li>Markdown</li>
<li>Coloured Editor</li>
<li>Preview images from the editor</li>
<li>Responsive</li>
<li>Portable</li>
<li>No users, no database, no fuss <abbr title="Do not run this on public installs. You will get fuss of spam">*</abbr></li>
<li>Minimal</li>
<li>Simple</li>
</ul>
<h4>Credits</h4>
<p>This is the stuff that I have used. If I want to procastinate extremely in the future, I will complete the links on this list</li>
<ul>
<li>jQuery</li>
<li>Icons from the Noun Project</li>
<li><a href="https://github.com/lrsjng/jQuery.fracs">jQuery.fracs (that thing on the right hand side)</a></li>
<li>Modernizr</li>
<li><a href="https://github.com/jaz303/jquery-grab-bag/blob/master/javascripts/jquery.autogrow-textarea.js">jQuery AutoGrow Textarea</a></li>
<li>jQuery File drop</ll>
<li>CodeMirror</li>
<li>NodeJS</li>
<li>node: Formidable</li>
<li>node: Express</li>
<li>node: Swig</li>
<li>node: Slightly modifed version of marked</li>
<li>node: Consolidate</li>
</ul>
{% endblock %}
